@import "bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// Color Scheme
// #eee1bc
// #ddb57d
// #ad764e
// #342316
// #ea7ba2


// Homepage
body{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color:#eee1bc;
}

.welcome_homepage{
    margin-top: 50px;
    font-family: 'Press Start 2P', cursive;
}

.carousel-content{
    background-color:#ddb57d ;
    height: 400px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: "pokefont";
    display: flex;
    justify-self: center;
    border:dotted;
    border-color: #342316;
}

.carousel-inner{
    object-fit: contain;
    display: flex;
    align-items: center;
    height: 400px;
}

.carousel-item img {
    object-fit: contain;
    height: 300px;
    width: 300px;
}

.carousel-caption {
    position: relative;
    left: 0%; 
    color: black;
    font-family: 'Press Start 2P', cursive;
}

.ptagonhomepage{
    padding-left:40px ;
    padding-right: 40px ;
    margin-top: 50px;
    font-size: 1rem;
    font-family: 'Press Start 2P', cursive;  
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

.get-started-button a {
    color: black
}

.get-started-button a:hover {
    color: var(--bs-link-hover-color);
}

.get-started-button{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #ea7ba2;
    border:dotted;
    border-color: #342316;
    text-align: center ;
    padding-top: 5px;
    border-radius: 30px;
}

.homepage_description{
    background-color: #ddb57d;
    padding-left:40px ;
    padding-right: 40px ;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    margin-bottom: 140px;
    font-size: 1rem;
    font-family: "pokefont";
    font-weight: bold;
    font-style: normal;
    text-align: center;
    border:dotted;
    border-color: #342316;
}

// About Us page

.about-us-header {
    margin-top: 90px;
}

.about-us-container{
    background-color: #ddb57d;
    border:dotted;
    border-color: #342316;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 35px;
}

.squares-container-left {
    display: flex;
    flex-direction: column;
}

.squares-container-right {
    display: flex;
    flex-direction: column;
}

.linked-in-right {
    max-height: 100px;
    max-width: 100px;
    margin-left: 75%;
}

.linked-in-left {
    max-height: 100px;
    max-width: 100px;
    margin-right: 75%;
}

.about-me-images-container {
    height: 30vh;
}

.brandon-self-image {
    
    width: 275px;
    height: 275px;
    margin-right: 75%;
    border:dotted;
    border-color: #342316;
    border-radius: 10px;
}

.simon-self-image {
    height: 250px;
    width: 250px;
    margin-left: 75%;
    border:dotted;
    border-color: #342316;
    border-radius: 10px;
}

.josh-self-image {
    width: 250px;
    height: 325px;
    margin-right: 75%;
    border:dotted;
    border-color: #342316;
    border-radius: 10px;
}

.jacob-self-image {
    width: 250px;
    height: 325px;
    margin-left: 75%;
    border:dotted;
    border-color: #342316;
    border-radius: 10px;
}


//Header 
.header-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #ad764e;
    border:dotted;
    border-color: #342316;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 80%;
}

.nav_bar_item.nav-item{
    display: flex;
    justify-content: center;  
}

.nav_bar_item{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #ea7ba2;
    border:dotted;
    border-color: #342316;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 10px;
    width: 225px;
    text-align: center;
    align-items: center;
    // flex: 1;
   
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
.nav_links {
    color: black;
    align-self: center;
 }

// Footer
.footer-container {
    display: flex;
    background-color: #342316;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border:dotted;
    border-color: #342316;
}

.footer-text {
    color: white;
}

// not found
.not-found-container {
    margin-top: 90px;
}

.not-found-header {
    font-size: xx-large;
}

.not-found-image {
    border: dotted;
    border-color: #342316;
    margin-top: 10px;
}

.home-page-button {
    padding-top: 5px;
    margin-top: 20px;
    border: dotted;
    border-color: #342316;
    background-color: #ea7ba2;
    border-radius: 10px;
}

.home-page-button-text {
    color: black;
}


// index pages
.index-header { 
    margin-top: 85px;
}

.add-new-card {
  margin-top: 25px;
}

.index-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}
