@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
//  Main Color Scheme
// #EEE1BC
// #DDB57D
// #AD764E
// #342316
// #EA7BA2


// Aboutus Color Scheme
// #79CEE0
// #DFE5F2
// #336E8C
// #E8E5C2
// #8B6470


// Cards/Show Page 
// #96B6B4
// #BFE4DE
// #DFF6F0
// #52B0C5


// Homepage
body {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color:#eee1bc;
}

.carousel-text {
    font-size: x-large;
}

.home-page-background {
    background-image: url("./Eeveebg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    object-fit: contain;
    height: 98vh;
}

.pokellection-logo-container {
    padding-top: 90px;
    object-fit: contain;
    align-items: center;
}

.pokellection-logo img {
    width:375px;
    height: 75px;
}

.carousel-content {
    background-color:#ddb57d opacity($color: #ddb57dd1);
    height: 400px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    justify-content: center;
    border: solid;
    border-width: 4px;
    border-color: #342316;
    border-radius: 20px;
    margin-top: 20px;
    -webkit-box-shadow: 9px 18px 40px 21px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 18px 40px 21px rgba(0,0,0,0.75);
    box-shadow: 9px 18px 40px 21px rgba(0,0,0,0.75);
}

.carousel-inner {
    object-fit: contain;
    display: flex;
    align-items: center;
    height: 400px;
}


.carousel-item img {
    object-fit: contain;
    height: 300px;
    width: 300px;
    padding-bottom: 42px;
}

.carousel-caption {
    font-size: xx-large;
    position: relative;
    left: 0%; 
    color: black;
    font-family: 'Press Start 2P', cursive;
}

.get-started-button a {
    color: black
}

.get-started-button a:hover {
    color: var(--bs-link-hover-color);
}

.get-started-button {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #ea7ba2;
    border:dotted;
    border-color: #342316;
    text-align: center ;
    padding-top: 5px;
    border-radius: 30px;
}

.homepage_description {
    border-image: url("./TextBorder.png") 285 / 285px;
    border-image-outset: 8px;
    opacity: 85%;
    background-color: #ddb57d;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 3px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
    font-weight: bolder;
    text-align: center;
    -webkit-box-shadow: 9px 18px 40px 21px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 18px 40px 21px rgba(0,0,0,0.75);
    box-shadow: 9px 18px 40px 21px rgba(0,0,0,0.75);
}

// About Us page

.aboutus-page-background {
    background-image: url("./Vaporeon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    object-fit: contain;
    height: 410vh;
}

.about-us-header {
padding-top: 100px;
    // margin-top: 90px;
}

.about-us-container{
    // background-color: #DDB57D;
    border:dotted;
    border-color: #342316;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 35px;
    display:contents;
    justify-content:space-around;
}

.squares-container-left {
    display: flex;
    flex-direction: column;
}

.squares-container-right {
    display: flex;
    flex-direction: column;
}

.linked-in-right {
    max-height: 50px;
    max-width: 50px;
}

.about-me-images-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.brandon-self-image {
    width: 275px;
    height: 275px;
    border-color: #342316;
    border-radius: 10px;
}

.simon-self-image {
    height: 250px;
    width: 250px;
    margin-left: 75%;
    border:dotted;
    border-color: #342316;
    border-radius: 10px;
}

.josh-self-image {
    width: 250px;
    height: 325px;
    margin-right: 75%;
    border:dotted;
    border-color: #342316;
    border-radius: 10px;
}

.jacob-self-image {
    width: 250px;
    height: 325px;
    margin-left: 75%;
    border:dotted;
    border-color: #342316;
    border-radius: 10px;
}

.fav_pokemon{
    height: 100px;
    width: 100px;
}

.bio-section{
    text-align: center;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
}

.dev-container{
    display: flex;
    justify-content:space-around ;
    align-items:center;
    margin-left:150px ;
    margin-right:150px;
    height: 700px;
    border: dotted;
    border-color: #79CEE0;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom:50px ;
    background-color:#336E8C;
    border-image: url("./TextBorder.png") 410 / 410px;
    border-image-outset: 18px;
    opacity: 85%;

}
.dev-container-josh{
    display: flex;
    justify-content:space-around ;
    align-items:center;
    margin-left:150px ;
    margin-right:150px;
    height: 800px;
    border: dotted;
    border-color: #79CEE0;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom:50px ;
    background-color:#336E8C;
    border-image: url("./TextBorder.png") 410 / 410px;
    border-image-outset: 18px;
    opacity: 85%;
}

.links-to-social{
    display: flex;
    justify-content: center;
}

//Header 

.header-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #ad764e;
    border: solid;
    border-width: 4px;
    border-color: #342316;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
    
.header-buttons {
    display: flex;
    justify-content: center;
    height: 42px;
    width: 225px;
    border: solid;
    border-width: 4px;
    border-color: #342316;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 6px;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #ea7ba2;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: center;
    align-items: center;
    -webkit-box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);
    -moz-box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);
    box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);  
    height: 42px;   
    font-size: small;
}

.header-buttons:hover {
    background-color: red;

}

.nav li:hover a {
    color: rgb(255, 255, 255);
}

a {color: inherit;}

a:link { text-decoration: none !important; }
a:visited { text-decoration: none !important; }
a:hover { text-decoration: none !important; }
a:active { text-decoration: none !important; }
.nav_links {
    color: black;
    align-self: center;
    text-decoration: none !important;
}

// Footer
.footer-container {
    display: flex;
    background-color: #342316;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border:dotted;
    border-color: #342316;
}

.footer-text {
    color: white;
}

// Not Found

.not-found-background {
    background-image: url('./Jolteon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    object-fit: contain;
    height: 110vh;
    margin-top: -90px;
}

.not-found-container {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
}

.not-found-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.not-found-image {
    border: solid;
    border-color: #342316;
    max-width: 80%;
    margin-bottom: 20px;
    opacity: 80%; 
    border-radius: 20px;
    -webkit-box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);
    -moz-box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);
    box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);  
}

.home-page-div {
    margin-top: 20px;
}

.home-page-button {
    padding-top: 5px;
    margin-top: 20px;
    border: solid;
    border-color: #342316;
    background-color: #070707;
    border-radius: 10px;
    -webkit-box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);
    -moz-box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);
    box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);  
}

.home-page-button-text {
    color: rgb(246, 223, 14);
}

a.home-page-button-text:hover {
    color: white;
}

.add-new-card {
    margin-top: 80px;
    background-color: #9a5caf;
}

// Index Page
.unprotected-index-page {
    background-image: url("./Leafeon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    object-fit: contain;
    height: 1650vh;
    padding-top: 30px;
}

.protected-index-page {
    background-image: url("./Espeon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    object-fit: contain;
    height: 1650vh;
}

.protected-index-cards .card {
    padding: 10px;
    border-radius: 8px 8px 50px 8px;
    background-color: rgb(162, 161, 161);
    font-size: 0.9rem;
    height: 460px;
    width: auto;
    overflow: auto;
    border: solid;
    border-color: #342316;
    -webkit-box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);
    -moz-box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);
    box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);
}

.protected-index-cards {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    padding: 15px;
}

.protected-index-cards .card img {
    object-fit: contain;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    padding: 20px;
}

.protected-index-cards.card-body {
    margin-bottom: -25px;
}

.index-header {
    padding-top: 80px;
}

.add-new-card {
    margin-top: 25px;
    background-color: #d39ede;
    border: solid;
    border-color: #342316;
    text-align: center ;
    padding-top: 5px;
    border-radius: 30px;
    text-decoration: none;
    -webkit-box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);
    -moz-box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);
    box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77); 
}

.add-new-card a:hover {
    color: rgb(243, 198, 240);
}

button.add-new-card:hover {
    color: rgb(243, 198, 240);
}

.index-cards {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    padding: 15px;
}

.index-cards.card-body {
    margin-bottom: -25px;
}

.card {
    padding: 10px;
    border-radius: 8px 8px 50px 8px;
    background-color: rgb(162, 161, 161);
    font-size: 0.9rem;
    height: 400px;
    width: auto;
    overflow: auto;
    border: solid;
    border-color: #342316;
    -webkit-box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);
    -moz-box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);
    box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);
}

.index-cards .card img {
    object-fit: contain;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    padding: 20px;
}

.view-button{
    align-self: center;
    background-color: #2ed897;
    border: solid;
    width: 100px;
    height: 30px;
    border-color: #342316;
    text-align: center ;
    padding-top: 5px;
    border-radius: 30px;
    text-decoration: none;
    -webkit-box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);
    -moz-box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);
    box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77); 
    padding: 2px 5px;
}

.view-button a {
    color: black;
}

.view-button a:hover {
    color:rgb(27, 130, 74);
    text-align: center;
    margin: 0 auto;
    padding-bottom: 5px;
}

.pokemon-image {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

// Show Page

.show-page-background{
    background-image: url('./Glaceon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    object-fit: contain;
    height: 104vh;
    padding-top: 30px;
}

.show-pokemon-header {
    margin-top: 60px;
    margin-bottom: 30px;
}
    
.show-card-container{
    display: flex;
    justify-content: center;
}

.show-page-card.card {
    -webkit-box-shadow: 9px 18px 40px 21px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 18px 40px 21px rgba(0,0,0,0.75);
    box-shadow: 9px 18px 40px 21px rgba(0,0,0,0.75);
    height: 540px;
}

.show-page-card.card .card-text {
    text-align: start;
    padding-top: 2px;
}

.show-page-card.card img {
    object-fit: contain;    
    height: 205px;
    width: 205px;
    margin: 0 auto;
    padding: 20px;
}
    
.card-body .card-text{
    font-size: small;
}

.show-page-buttons {
    margin-bottom: 45px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.show-page-buttons .button {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #52B0C5;
    border: solid;
    border-color: #DFF6F0;
    text-align: center ;
    padding-top: 5px;
    border-radius: 30px;
    text-decoration: none;
    -webkit-box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);
    -moz-box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);
    box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77); 
}

.pokemon-index-button {
    margin-bottom: 45px;
    padding-top: 40px;
}

.pokemon-index-button .button {
    background-color: #52B0C5;
    border: solid;
    border-color: #DFF6F0;
    text-align: center ;
    padding-top: 5px;
    border-radius: 30px;
    text-decoration: none;
    -webkit-box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);
    -moz-box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);
    box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77); 
}

// update pokemon page 

.form{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.create-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.submit-button {
    width: 200px;
    color: black;
    background-color: red;
}

.submit-button:hover {
    background-color: #e1ec19;
    color: black;
}

.update-page-container {
    margin-top: 25px;
    background-image: url("./Umbreon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    object-fit: contain;
    height: 130vh;
    color: white;
    padding-left: 25px;
}

label.form-label {
    display: flex;
    justify-content: flex-start;
}

.form-control {
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

// create page

.new-pokemon-page {
    margin-top: 65px;
    background-image: url("./Flareon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    object-fit: contain;
    height: 110vh;
    padding-left: 25px;
}

.form-control {
    width: 600px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(176, 176, 176);
}

.mb-3 {
    color: rgb(255, 255, 255);
}


// Search Bar 
.search{
    display: flex;
    justify-content: center;
    margin-top: -50px;
    margin-bottom: 75px;
}

.searchInputs {
    margin-top: 105px;
    display: flex;
    justify-content: center;
}

.search input {
    background-color: white;
    text-align: center;
    font-size: 11px;
    height: 30px;
    width: 300px;
    margin-top: 50px;
    padding-top: 5px;
    border-radius: 30px;
    border: solid;
    text-decoration: none;
    -webkit-box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);
    -moz-box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77);
    box-shadow: 22px 14px 9px -2px rgba(0,0,0,0.77); 
}

.searchIcon {
    height: 30px;
    width: 30px;
    margin-top: 44px;
    margin-right: 10px;
    display: grid;
    place-items: center;
    padding-top: 5px;
    border-radius: 30px;
    text-decoration: none;
}

.input {
    padding-left: 10px;
}

input:focus {
    outline: none;
}
.searchIcon svg {
    font-size: 35px;
}

.dataItem {
    margin-left: 10px;
    background-color: transparent opacity($color: #00000000);
}

.dataResult {
    margin-top: 190px;
    margin-left: 30px;
    background-color: transparent opacity($color: #00000000);
    font-size: 15px;
    width: 220px;
    height: 125px;
    overflow: hidden;
    overflow-y: auto;
    cursor: pointer;
    position: absolute;
}

.dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}

#clearBtn {
    cursor: pointer;
}


// Card Styles By Type
.grass {
  background-image: linear-gradient(45deg, #ccf766 0%, #72cd7e 100%);
}

.fire {
  background-image: linear-gradient(45deg, #f6d365 0%, #ca360d 100%);
}

.water {
  background-image: linear-gradient(45deg, #a1f0f6 0%, #1874f4 100%);
}

.bug {
  background-image: linear-gradient(45deg, #9fd6a3 0%, #da9740 100%);
}

.psychic {
  background-image: linear-gradient(45deg, #f3f3f3 0%, #ae6dcb 100%);
}

.ghost {
  background-image: linear-gradient(45deg, #85b0cb 0%, #9f4ae4 100%);
}

.normal {
  background-image: linear-gradient(45deg, #eeeeee 0%, #b8b8b8 100%);
}

.poison {
  background-image: linear-gradient(45deg, #b8d2f6 0%, #ba4582 100%);
}

.fairy {
  background-image: linear-gradient(45deg, #f6d7ec 0%, #ff9a9e 100%);
}

.rock {
  background-image: linear-gradient(45deg, #aba09d 0%, #a66d5e 100%);
}

.electric {
  background-image: linear-gradient(45deg, #fcec9b 0%, #f9a411 100%);
}

.ice {
  background-image: linear-gradient(45deg, rgb(228, 250, 250) 0%, rgb(86, 158, 183) 100%);
}

.dragon {
  background-image: linear-gradient(45deg, #609ef5 0%, #d77c05 100%);
}

.ground {
  background-image: linear-gradient(45deg, #7e7158 0%, #643b31 100%);
}

.fighting {
  background-image: linear-gradient(45deg, #d46b5a 0%, #43414d 100%);
}

.dark {
  background-image: linear-gradient(45deg, #5a5abf 0%, #7a269c 100%);
}

.steel {
  background-image: linear-gradient(45deg, #7d99b7 0%, #424750 100%);
}
